<div block>
  <app-header></app-header>
</div>
<div class="container-fluid">
  <div class="row">    
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <app-left-menu></app-left-menu>
    </nav>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4">  
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Painel</h1>
      </div>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>