<form class="form-signin" [formGroup]="tableForm" (ngSubmit)="openDialog()">
  <div class="form-group">
    <input type="file" formControlName="document" class="form-control" accept=".csv" [ngClass]="{ 'is-invalid': submitted && f.document.errors }" (change)="setImage($event.target.files)" />
    <div *ngIf="submitted && f.document.errors" class="invalid-feedback">
        <div *ngIf="f.document.errors.required">É necessario fazer upload de um arquivo.</div>
        <div *ngIf="!fileExtensionError">O tipo do arquivo tem que ser .CSV</div>
    </div>
    <div class="error-type" *ngIf="!fileExtensionError">
        <div *ngIf="!fileExtensionError">O tipo do arquivo tem que ser .CSV</div>
    </div>
  </div>
  <div class="form-group">
      <button class="btn" [disabled]="!fileExtensionError">Enviar</button>
  </div>
</form>
<ngx-loading [show]="loading"  [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>