.sucess-snackbar {
    background-color: rgb(0, 66, 0);
    color:white;
}
.error-snackbar {
    background: rgb(168, 0, 0);
    color:white;
}
button {
    background-color: #10BA54;
    border-color: #10BA54;
    color: #fff;
}
button:hover {
    background-color: #fff;
    color: #10BA54;
    border-color: #10BA54;
}
button:active {
    background-color: #fff !important;
    color: #10BA54 !important;
    border-color: #10BA54 !important;
}
.error-type{
    margin-top: 10px;
    color: #dc3545;
    font-size: 80%;
}