<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="text-center mb-4">
    <img class="mb-4" src="../../../assets/imgs/logo_vr_ben_3D_1024x1024_rgb.png" alt="" width="72" height="72">
  </div>
  <div class="form-label-group form-group">
      <label>Username</label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">É necessario preencher o campo email.</div>
          <div *ngIf="f.username.errors.email">O email precisa ser valido.</div>
      </div>    
  </div>
  <div class="form-label-group form-group">      
      <label>Senha</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">É necessario preencher o campo senha.</div>
          <div *ngIf="f.password.errors.minlength">A senha não pode ter menos que cinco caracteres.</div>
      </div>
  </div>
  <p *ngIf="!credencialsCorrect" class="invalid-user">Usuario ou senha incorreta.</p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
